<ul class="nav" style="background-color: #e3f2fd;">
    <li class="nav-item">
        <a class="navbar-brand" routerLink="" routerLinkActive="active"><h2>Main</h2></a>
    </li>
    <li class="nav-item p-1">
        <a class="btn btn-primary btn-sm" routerLink="/section/upload" routerLinkActive="active" role="button">Upload file</a>
    </li>
    <li class="nav-item p-1">
        <a class="btn btn-info btn-sm" routerLink="/section/gallery" routerLinkActive="active" role="button">Files gallery</a>
    </li>
</ul>
<router-outlet></router-outlet>